/* $Id$ */ 

/* Term link */
a.interlink {
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  cursor: help;
  text-decoration: none;
}

/* Interlinked term page view */
dl.interlink-term {
  margin: inherit;
  padding: inherit;
}
dl.interlink-term dt {
  display: none;
}
dl.interlink-term dt dfn {
  font-style: inherit;
}
dl.interlink-term dd {
  margin: inherit;
  padding: inherit;
}
